.projects-container {
    margin-top: 54px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.card {
    margin: 16px;
    height: 350px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    height: 100%;
}
.project-desc {
    width: auto;
    word-wrap: break-word;
    margin: 10px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 24px;
    font-size: 64px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3 {
    margin-top: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    width: 100px;
    height: 32px;
    align-self: center;
    border: transparent;
    background: black;
    color: white;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
}

button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background: white;
    color: black;
    border: 2px solid black;
}